<%= form_for(@random_pick) do |f| %>
  <% if @random_pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@random_pick.errors.count, "error") %> prohibited this random_pick from being saved:</h2>

      <ul>
      <% @random_pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_entry_id %><br>
    <%= f.number_field :user_entry_id %>
  </div>
  <div class="field">
    <%= f.label :team_instance_id %><br>
    <%= f.number_field :team_instance_id %>
  </div>
  <div class="field">
    <%= f.label :round %><br>
    <%= f.number_field :round %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
