<%= form_for(@random_pick) do |f| %>
  <% if @random_pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@random_pick.errors.count, "error") %> prohibited this random_pick from being saved:</h2>

      <ul>
      <% @random_pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_entry_id %><br>
    <%= f.select :user_entry_id, UserEntry.all.collect {|x| ["#{x.user.fullname} (#{x.challenge.year})", x.id]}, {:prompt => "Select a User Entry"} %>

  </div>
  <div class="field">
    <%= f.label :team_instance_id %><br>
    <%= f.select :team_instance_id, TeamInstance.all.collect {|x| ["#{x.team.name} (#{x.bracket.challenge.year})", x.id]}, {:prompt => "Select a User Entry"} %>

  </div>
  <div class="field">
    <%= f.label :round %><br>
    <%= f.number_field :round %> <span style="color:#F00;">&lt;&lt; Leave blank, for now.</span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
