<p id="notice"><%= notice %></p>

<h1>Listing Random Picks</h1>

<table>
  <thead>
    <tr>
      <th>User entry</th>
      <th>Team instance</th>
      <!--th>Round</th-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @random_picks.each do |random_pick| %>
      <tr>
        <td><%= "#{random_pick.user_entry.user.fullname} (#{random_pick.user_entry.challenge.year})" %></td>
        <td class="center"><%= (random_pick.team_instance_id ? random_pick.user_entry.challenge.year : "<span class='italics'>N/A</span>").html_safe %></td>
        <!--td><%= random_pick.round %></td-->
        <td><%= link_to 'Show', random_pick %></td>
        <td><%= link_to 'Edit', edit_random_pick_path(random_pick) %></td>
        <td><%= link_to 'Destroy', random_pick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Random pick', new_random_pick_path %>
