<p id="notice"><%= notice %></p>

<h1>Listing User Entries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Challenge</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_entries.each do |user_entry| %>
      <tr>
        <td><%= user_entry.user.first_name + " " + user_entry.user.last_name %></td>
        <td><%= user_entry.challenge.year %></td>
        <td><%= user_entry.active %></td>
        <td><%= link_to 'Show', user_entry %></td>
        <td><%= link_to 'Edit', edit_user_entry_path(user_entry) %></td>
        <td><%= link_to 'Destroy', user_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User entry', new_user_entry_path %>
