<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_entry.user.first_name + " " + @user_entry.user.last_name %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @user_entry.challenge.year %>
</p>

<p>
  <strong>Active:</strong>
  <%= @user_entry.active %>
</p>

<%= link_to 'Edit', edit_user_entry_path(@user_entry) %> |
<%= link_to 'Back', user_entries_path %>
