<%= form_for(@game_pick) do |f| %>
  <% if @game_pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_pick.errors.count, "error") %> prohibited this game_pick from being saved:</h2>

      <ul>
      <% @game_pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_entry_id %><br>
    <%= f.select :user_entry_id, UserEntry.all.collect {|x| [x.user.fullname, x.id]}, {:prompt => "Select a User"} %>
  </div>
  <div class="field">
    <%= f.label :team_instance_id %><br>
    <%= f.select :team_instance_id, TeamInstance.all.collect {|x| [x.team.name, x.id]}, {:prompt => "Select a Team"} %>
  </div>
  <div class="field">
    <%= f.label :round %><br>
    <%= f.select :round, (1..6).collect {|x| [x, x]}, {:prompt => "Select an order"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
