<%= form_for(@team_instance) do |f| %>
  <% if @team_instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_instance.errors.count, "error") %> prohibited this team_instance from being saved:</h2>

      <ul>
      <% @team_instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bracket_id %><br>
    <!--%= f.number_field :bracket_id %-->
    <!--%= f.collection_select :bracket_id, Bracket.all.collect, :id, :challenge_id, :prompt => "Select a bracket" %-->
    <%= f.select :bracket_id, Bracket.all.collect {|x| [x.challenge.year, x.id]}, {:prompt => "Select a year"} %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.collection_select :team_id, Team.all.order('name ASC'), :id, :name, :prompt => "Select a team" %>
  </div>
  <div class="field">
    <%= f.label :quadrant_id %><br>
    <%= f.grouped_collection_select :quadrant_id, Challenge.order(:year), :quadrants, :year, :id, :name, :prompt => "Select a quadrant", include_blank: true%>
</div>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br>
    <%= f.text_field :abbreviation %>
  </div>
  <div class="field">
    <%= f.label :seed %><br>
    <%= f.select :seed, (1..16).collect {|x| [x, x]}, {:prompt => "Select a seed"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
